.search-filter {
  width: 300px;
  height: 35px;
  margin: 5px;
  border-radius: 10px;
}
.call-us {
  margin: 120px;
}
.services-image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}

.designation {
  text-align: center;
  font-size: 25px;
}

.service-container {
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container {
  /* border: 1px solid; */
}
.service-heading {
  text-align: center;
}

/* Expert css*/

.profile-container {
  width: 550px;
  margin: 10px;
}

.profile-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.name-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.healthexperts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.click {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.expertinfo {
  /* margin: 10px; */
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.info-image {
  border-radius: 10px;
  overflow: hidden;
  width: 500px;
  height: 500px;
  object-fit: contain;
}
.backbtn {
  text-align: center;
}

.consultation-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.consultbtn {
  text-align: center;
}

.mobilenumber {
  text-align: center;
}
.healthproblem {
  width: 50%;
}

.healthproblem-container {
  text-align: center;
}

.payment-container {
  margin: 20px auto;
  width: 1000px;
  height: 500px;
  border: 2px solid white;
}

.payment-option {
  width: 300px;
  height: 500px;
  /* border: 2px solid white; */
}
h4 {
  cursor: pointer;
}

.login-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 20px auto;
  width: 500px;
  height: 500px;
  /* border: 2px solid white; */
}
.login-heading {
  text-align: center;
}

.expert-register-container {
  /* border: 2px solid white; */
  margin-top: 20px;
}

.expert-register-form {
  text-align: center;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.register-link {
  text-align: center;
}
.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user-register {
  text-align: center;
  display: flex;
  flex-direction: column;
}
